
ShibClient2/bin/Debug/net6.0/appsettings.Development.json
ShibClient2/bin/Debug/net6.0/appsettings.json
ShibClient2/bin/Debug/net6.0/Humanizer.dll
/ShibClient2/.vs/ShibClient2
/ShibClient2/bin/Debug/net6.0
/ShibClient2/obj
