
ShibClient2/bin/Debug/net6.0/appsettings.Development.json
ShibClient2/bin/Debug/net6.0/appsettings.json
ShibClient2/bin/Debug/net6.0/Humanizer.dll
/ShibClient2/.vs/ShibClient2
/ShibClient2/bin/Debug/net6.0
/ShibClient2/obj
ShibClient2/.vs/ProjectEvaluation/shibclient2.metadata.v6.1
ShibClient2/.vs/ProjectEvaluation/shibclient2.projects.v6.1
